
on early-init
    mount debugfs debugfs /sys/kernel/debug

on init

    loglevel 7
    # make the bootloader directory to give us easy access to
    # kernel, cmdline and config updates
	mkdir /bootloader

on boot
    
# fake some battery state
    setprop status.battery.state Slow
    setprop status.battery.level 5
    setprop status.battery.level_raw  50
    setprop status.battery.level_scale 9

# enable Google-specific location features,
# like NetworkLocationProvider and LocationCollector
    setprop ro.com.google.locationfeatures 1

on fs

    mount ext4 /dev/block/mmcblk0p2 /system

on post-fs
    start pi_console
    start netcfg

# Enable networking so that adb can connect
service netcfg /system/bin/netcfg eth0 dhcp
    disabled
    oneshot
    
    
service printip /system/bin/netcfg
    oneshot
    disabled
    console
    user root
    group root log
    
on property:init.svc.netcfg=stopped
	start printip
	


service pi_console /system/bin/sh
    console
    disable
    user root
    group root log

# Stop the standard console as we are running 
# the pi console as root...
on property:init.svc.console=running
	stop console


# adb over network
on property:service.adb.tcp.port=5555
    stop adbd
    start adbd
on property:service.adb.tcp.port=-1
    stop adbd
    start adbd
