
on early-init
    mount debugfs debugfs /sys/kernel/debug

on init
    # See storage config details at http://source.android.com/tech/storage/
    mkdir /mnt/media_rw/sdcard 0700 media_rw media_rw
    mkdir /storage/sdcard 0700 root root

    export EXTERNAL_STORAGE /storage/sdcard

    # Support legacy paths
    symlink /storage/sdcard /sdcard
    symlink /storage/sdcard /mnt/sdcard

on boot
    
# fake some battery state
    setprop status.battery.state Slow
    setprop status.battery.level 5
    setprop status.battery.level_raw  50
    setprop status.battery.level_scale 9

# enable Google-specific location features,
# like NetworkLocationProvider and LocationCollector
    setprop ro.com.google.locationfeatures 1

on fs
        mount_all /fstab.bcm2708
        swapon_all  /fstab.bcm2708
    
	symlink /vendor/lib/egl/libEGL_bcm2708.so /vendor/lib/egl/libGLESv2_bcm2708.so
    symlink /vendor/lib/egl/libEGL_bcm2708.so /vendor/lib/egl/libGLES_bcm2708.so

# fusewrapped external sdcard daemon running as media_rw (1023)
service fuse_sdcard /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/sdcard /storage/sdcard
    class late_start
    disabled

# Enable networking so that adb can connect
service netcfg /system/bin/netcfg eth0 dhcp
    oneshot
    class late_start
    restart adbd


service pi_console /system/bin/sh
    class late_start
    console
    user root
    group root log

