#
# Copyright (C) 2014 Trevor Drake <trevd1234@gmail.com>
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

on early-init
    mount debugfs debugfs /sys/kernel/debug

on init
    # See storage config details at http://source.android.com/tech/storage/
    mkdir /mnt/media_rw/sdcard 0700 media_rw media_rw
    mkdir /storage/sdcard 0700 root root
    export EXTERNAL_STORAGE /storage/sdcard

    # Support legacy paths
    symlink /storage/sdcard /sdcard
    symlink /storage/sdcard /mnt/sdcard
    
    
    # make the bootloader directory to give us easy access to
    # kernel, cmdline and config updates
    mkdir /bootloader
    chmod 0660 /dev/cpuctl
on boot
    
# fake some battery state
    setprop status.battery.state Slow
    setprop status.battery.level 5
    setprop status.battery.level_raw  50
    setprop status.battery.level_scale 9

# enable Google-specific location features,
# like NetworkLocationProvider and LocationCollector
    setprop ro.com.google.locationfeatures 0

on fs
        mount_all /fstab.bcm2708
        swapon_all  /fstab.bcm2708
    
on post-fs-data
    mkdir /data/media 0770 media_rw media_rw
    mkdir /system/vendor/bin 0755 root shell
    	
# fusewrapped external sdcard daemon running as media_rw (1023)
service fuse_sdcard /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/sdcard /storage/sdcard
    class late_start


# Enable networking so that adb can connect
service netcfg /system/bin/netcfg eth0 dhcp
    oneshot
    class late_start
    
    
service printip /system/bin/netcfg
    oneshot
    disabled
    console
    user root
    group root log
    class late_start
    
on property:init.svc.netcfg=stopped
	start printip
	


service pi_console /system/bin/sh
    class late_start
    console
    user root
    group root log

# Stop the standard console as we are running 
# the pi console as root...
on property:init.svc.console=running
	stop console



# The Networking Stuff
service dhcpcd_wlan0 /system/bin/dhcpcd -aABDKL
    class main
    disabled
    oneshot

service dhcpcd_p2p /system/bin/dhcpcd -aABKL
    class main
    disabled
    oneshot

service dhcpcd_eth0 /system/bin/dhcpcd -ABDKL
    class main
    disabled
    oneshot

service dhcpcd_bt-pan /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service iprenew_p2p /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service iprenew_eth0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service iprenew_bt-pan /system/bin/dhcpcd -n
    class main
    disabled
    oneshot
